@use '../constant/mixins' as m;
@use '../constant/variables' as v;
.search {
  padding: 2rem 3rem;
  .filter {
    @include m.flex(flex-start);
    p {
      border: 1px solid rgb(124, 124, 124);
      padding: 0.8rem;
      margin-right: 1rem;
      border-radius: 1.5rem;
      margin-top: 1rem;
      // max-width: 22rem;
      background: #fff;
      &:hover {
        cursor: pointer;
        box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.212);
        background: rgba(255, 255, 255, 0.342);
      }
    }
  }
}
