@use '../constant/base' as b;
@use '../constant/colors' as c;
@use '../constant/mixins' as m;
@use '../constant/variables' as v;

main {
  padding: 4rem 15rem;
  @include m.media(sm) {
    padding: 3rem;
  }
  .explore {
    display: grid;
    gap: 2rem;
    padding: 3rem 0;
    @include m.media(md) {
      grid-template-columns: 1fr 1fr;
    }
    @include m.media(lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include m.media(xlg) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .card {
      border-radius: 3rem;
      @include m.flex(flex-start);
      gap: 2rem;
      margin: 1rem 0;
      transition: transform ease-out 300ms;
      &:hover {
        cursor: pointer;
        background-color: rgba(196, 196, 196, 0.568);
        transform: scale(1.05);
      }
      .card__left {
        position: relative;
        height: 10rem;
        width: 10rem;
        img {
          border-radius: 2rem;
        }
      }
    }
  }
}
section {
  padding: 4rem 0;
  .container {
    // @include m.flex(center);
    gap: 1rem;
    overflow: scroll;
    overflow-y: hidden;
    display: flex;
    &::-webkit-scrollbar {
      width: 1rem;
      background: transparent;
    }
    .medcard {
      padding: 2rem 1rem;
      transition: transform 300ms ease-out;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
      .img__container {
        position: relative;
        height: 25rem;
        width: 25rem;
        img {
          border-radius: 1rem;
        }
      }
      h4 {
        margin-top: 1.4rem;
        font-weight: 500;
      }
    }
  }
}
.large__card {
  position: relative;
  .img__container {
    height: 35rem;
    width: 40rem;
    object-fit: cover;
    img {
      border-radius: 2rem;
    }
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6rem;
    @include m.media(sm) {
      padding: 4rem 3.5rem;
    }
    p {
      padding: 2rem 0;
    }
    button {
      background: black;
      color: #fff;
      padding: 1.5rem 2.4rem;
      outline: none;
      border: none;
      border-radius: 1.2rem;
      cursor: pointer;
    }
  }
}
